#ib-modal .ib-product-item{
    @include flex(column, stretch, flex-start);
    width: 100%;
    background: $white-color;
    box-shadow: 0 4px 10px 0 rgba(196, 196, 196, .5);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    &__btn{
        width: 180px;
        margin: 0 auto;
    }
    &__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + {
            & .ib-product-item{
                &__wrapper{
                    border-color: $primary-color;
                    & .ib-product-item{
                        &__btn{
                            background: $primary-color;
                            color: $white-color;
                            & svg{
                                & path{
                                    stroke: $white-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__wrapper{
        @include flex(column, center, flex-start);
        border: 1px solid transparent;
        padding: 40px;
        border-radius: 3px;
    }
    &__title{
        margin: 0;
        font-size: 24px;
        @include font-weight('semi');
        line-height: 1.2;
        text-align: center;
        margin-top: 25px;
        padding: 0 30px;
    }
    &__price{
        @include flex(row, flex-end, center);
        margin: 0;
        margin-top: 25px;
        line-height: 1;
        &-value{
            margin: 0;
            font-size: 60px;
            @include font-weight('semi');
        }
        & svg{
            margin-right: 10px;
            position: relative;
            top: -11px;
        }
        &-period{
            margin: 0;
            font-size: 14px;
            @include font-weight('semi');
            text-align: left;
            position: relative;
            top: -25px;
            margin-left: 5px;
        }
    }
    &__img{
        margin-top: 20px;
    }
    &__warranty{
        font-size: 15px;
        margin: 0;
        letter-spacing: -0.01em;
        color: $gray-color;
        margin-top: 5px;
    }
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 40px;
        & li{
            @include flex(row, flex-start, flex-start);
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 15px;
            line-height: 1.2;
            @include font-weight('light');
            & svg{
                margin-right: 20px;
                flex-shrink: 0;
                position: relative;
                top: 5px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            &:first-child{
                text-align: center;
                color: $primary-color;
                margin-bottom: 20px;
                @include font-weight('semi');
                justify-content: center;
            }
        }
        &_align{
            &-center{
                & li{
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
    &:hover{
        & .ib-product-item{
            &__wrapper{
                border-color: $primary-color;
            }
            &__btn{
                background: $primary-color;
                color: $white-color;
                & svg{
                    & path{
                        stroke: $white-color;
                    }
                }
            }
        }
    }
}

//Media
@media screen and (max-width: 575px){
    #ib-modal .ib-product-item{
        &__wrapper{
            padding: 30px 10px;
        }
        &__title{
            font-size: 20px;
        }
        &__price{
            &-value{
                font-size: 40px;
            }
            & svg{
                top: -7px;
            }
            &-period{
                top: -10px;
            }
        }
        &__warranty{
            font-size: 13px;
        }
        &__list{
            & li{
                font-size: 14px;
            }
        }
    }
}