#ib-wrapper .ib-finance-options, #ib-modal .ib-finance-options{
    &__grid{
        background: $white-color;
        box-shadow: 0 4px 10px 0 rgba(196, 196, 196, .5);
        border-radius: 3px;
        padding: 25px 45px;
        padding-bottom: 35px;
        &-title{
            margin: 0;
            font-size: 20px;
            @include font-weight('semi');
            text-align: center;
            margin-bottom: 15px;
        }
        &-text{
            margin: 0;
            line-height: 1.3;
            text-align: center;
        }
    }
    &__btn{
        margin: 0 auto;
        margin-top: 40px;
        padding: 0 15px;
    }
    &__section{
        @include flex(column, flex-start, flex-start);
        padding: 20px 0;
        padding-right: 35px;
        & a{
            font-size: 24px;
            color: $primary-color;
            text-decoration: none;
            display: inline;
            border-bottom: 1px solid transparent;
            &:hover{
                border-color: $primary-color
            }
        }
        &-name{
            margin: 0;
            font-size: 20px;
            @include font-weight('semi');
            margin-bottom: 10px;
        }
        &-text{
            margin: 0;
            font-size: 17px;
            line-height: 1.3;
            margin-bottom: 10px;
            & a{
                font-size: 17px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__range-slider{
        margin-top: 30px;
    }
}

//Media
@media screen and (max-width: 575px){
    #ib-wrapper .ib-finance-options, #ib-modal .ib-finance-options{
        &__grid{
            padding: 30px 15px;
            &-title{
                font-size: 18px;
            }
            &-text{
                font-size: 15px;
            }
        }
        &__btn{
            width: 200px;
            margin-top: 25px;
        }
        &__section{
            &-name{
                font-size: 18px;
            }
            &-text{
                font-size: 15px;
            }
        }
    }
}