#ib-modal .ib-copyright, #ib-wrapper .ib-copyright{
    margin: 0;
    text-align: center;
    color: $gray-color;
    font-size: 13px;
    letter-spacing: -0.024em;
    line-height: 1.3;
    & a{
        text-decoration: none;
        color: $primary-color;
        font-size: 13px;
    }
}