#ib-modal-wrapper .ib-success-info{
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-right: calc((100% - 1155px)/2);
    &__img{
        margin-right: 100px;
    }
    &__grid{
        position: absolute;
        z-index: 1;
        top: 100px;
        right: 0;
        width: 100%;
    }
    &__title{
        margin: 0;
        text-align: center;
        font-size: 36px;
        line-height: 1.2;
    }
    &__note{
        margin: 0 auto;
        text-align: center;
        max-width: 330px;
        font-size: 17px;
        letter-spacing: -0.01em;
        line-height: 1.4;
        margin-top: 10px;
    }
    &__btn{
        background: $primary-color;
        color: $white-color;
        max-width: 180px;
        margin: 0 auto;
        margin-top: 40px;
    }
}

//Media
@media screen and (max-width: 1219px){
    #ib-modal-wrapper .ib-success-info{
        padding-right: calc((100% - 945px)/2);
    }
}
@media screen and (max-width: 991px){
    #ib-modal-wrapper .ib-success-info{
        padding-right: calc((100% - 705px)/2);
        &__grid{
            top: 50px;
        }
    }
}
@media screen and (max-width: 767px){
    #ib-modal-wrapper .ib-success-info{
        padding-right: 0;
        &__img{
            display: none;
        }
        &__grid{
            position: relative;
            top: auto;
        }
    }
}