#ib-wrapper .ib-btn, #ib-modal .ib-btn{
    @include flex(row, center, center);
    border-radius: 50px;
    height: 45px;
    padding: 0 25px;
    width: 220px;
    border: 1px solid $primary-color;
    font-size: 17px;
    color: $primary-color;
    @include font-weight('bold');
    position: relative;
    text-decoration: none;
    & svg{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    &_arrow{
        &-left{
            & svg{
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }   
        }
    }
    &:hover{
        background: $primary-color;
        color: $white-color;
        & svg{
            & path{
                stroke: $white-color;
            }
        }
    }
    &:active{
        background: darken($primary-color, 5%);
        color: $white-color;
        & svg{
            & path{
                stroke: $white-color;
            }
        }
    }
}

//Media
@media screen and (max-width: 575px){
    #ib-wrapper .ib-btn, #ib-modal .ib-btn{
        font-size: 15px;
    }
}