#ib-modal .ib-steps-slider{
    &__title{
        margin: 0 auto;
        margin-top: 35px;
        text-align: center;
        font-size: 20px;
        @include font-weight('semi');
        line-height: 1.2;
        max-width: none;
        &_width{
            &-m{
                max-width: 725px;
            }
        }
    }
    &__grid{
        @include flex(row, center, center);
        margin-top: 50px;
        &_layout{
            &-custom{
                display: block;
                padding-bottom: 20px;
            }
        }
    }
    &__radio{
        width: calc((100% - 80px)/4);
        margin-right: 20px;
        max-width: 180px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__name{
        margin: 0 auto;
        text-align: center;
        font-size: 17px;
        margin-top: 40px;
        max-width: none;
        line-height: 1.41;
    }
    &__wrapper{
        align-items: flex-start;
    }
    &__icon{
        margin-top: 10px;
    }
}

//Media
@media screen and (max-width: 1219px){
    #ib-modal .ib-steps-slider{
        &__col{
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 767px){
    #ib-modal .ib-steps-slider{
        &__grid{
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: flex-start;
        }
        &__radio{
            width: calc((100% - 30px)/3);
            height: 170px;
            margin-bottom: 15px;
            max-width: none;
            &:nth-child(n){
                margin-right: 15px;
            }
            &:nth-child(3n){
                margin-right: 0;
            }
        }
        &__name{
            font-size: 16px;
            margin-top: 30px;
        }
    }
}
@media screen and (max-width: 575px){
    #ib-modal .ib-steps-slider{
        &__grid{
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: flex-start;
        }
        &__radio{
            width: calc((100% - 10px)/2);
            height: 170px;
            margin-bottom: 10px;
            max-width: none;
            &:nth-child(n){
                margin-right: 10px;
            }
            &:nth-child(even){
                margin-right: 0;
            }
        }
    }
}