#ib-modal .ib-reviews{
    display: inline-block;
    text-decoration: none;
    border: .5px solid $primary-color;
    border-radius: 3px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 50px;
        height: 45px;
        background: $white-color;
        left: 50%;
        margin-left: -25px;
        top: -25px;
        z-index: 1;
    }
    &::after{
        content: '';
        position: absolute;
        width: 45px;
        height: 45px;
        background: icon('icon-star.svg') no-repeat 50%;
        left: 50%;
        margin-left: -22.5px;
        top: -25px;
        z-index: 2;
    }
    &__text{
        margin: 0;
        padding: 20px;
        font-size: 15px;
        line-height: 1.6;
        @include font-weight('light');
        max-width: 220px;
        text-align: center;
        & span{
            text-transform: uppercase;
            color: $primary-color;
        }
    }
}

//Media
@media screen and (max-width: 1219px){
    #ib-modal .ib-reviews{
        width: 100%;
        margin-left: 0;
        @include flex(row, center, center);
    }
}