#ib-wrapper .ib-steps, #ib-modal .ib-steps{
    @include flex(row, flex-end, center);
    &__circle{
        @include flex(row, center, center);
        margin: 0;
        width: 42px;
        height: 42px;
        border: 1px solid $black-color;
        border-radius: 50%;
    }
    &__number{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% + 15px);
        margin: 0;
        font-size: 15px;
        letter-spacing: -0.01em;
        color: $gray-color;
        white-space: nowrap;
    }
    &__item{
        @include flex(row, center, flex-start);
    }
    &__line{
        width: 95px;
        height: 1px;
        background: $black-color;
        flex-shrink: 0;
    }
    &__col{
        position: relative;
        @include flex(column, center, flex-end);
    }
    &__title{
        position: absolute;
        margin: 0;
        width: 95px;
        text-align: center;
        left: 50%;
        margin-left: -42.5px;
        bottom: calc(100% + 15px);
        &_width{
            &-l{
                width: 120px;
                margin-left: -60px;
            }
        }
    }
}

//Media
@media screen and (max-width: 575px){
    #ib-wrapper .ib-steps, #ib-modal .ib-steps{
        display: none;
    }
}