#ib-wrapper .ib-main, #ib-modal .ib-main{
    &__btn{
        margin: 90px auto;
        height: 85px;
        width: 315px;
        font-size: 32px;
        text-transform: uppercase;
        background: $primary-color;
        color: $white-color;
        line-height: 2.7;
        &:hover{
            background: darken($primary-color, 5%);
        }
        &:active{
            background: darken($primary-color, 10%);
        }
    }
}

//Media
@media screen and (max-width: 1219px){
    #ib-wrapper .ib-main, #ib-modal .ib-main{
        &__btn{
            margin-top: 40px;
        }
    }
}
@media screen and (max-width: 767px){
    #ib-wrapper .ib-main, #ib-modal .ib-main{
        &__btn{
            margin: 40px auto;
            font-size: 20px;
            width: 100%;
            max-width: 300px;
            height: 55px;
            line-height: 2.75;
        }
    }
}
@media screen and (max-width: 575px){
    #ib-wrapper .ib-main, #ib-modal .ib-main{
        &__btn{
            margin: 30px auto;
            font-size: 20px;
            width: 100%;
            max-width: 250px;
            height: 55px;
        }
    }
}