// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//Font
$font: 'Proxima Nova';
$base-font-size: 16px;
//Url
$base-path: '../';
//Colors
$white-color: #fff;
$black-color: #242224;
$primary-color: #C42926;
$gray-color: #6D6F71;
$gray-color-lighter: #E0E1E3;
$gray-color-lightest: #f2f2f2;
$light-color: #C4C4C4;
//Font weight
$font-weight: (
    'normal': normal,
    'light': 300,
    'semi': 600,
    'bold': bold
);
