.blocker {
    background: $light-color;
    padding: 15px;
}
#ib-modal.ib-modal {
    width: 100%;
    height: auto;
    min-height: 100%;
    max-width: none;
    background: $white-color;
    border-radius: 5px;
    box-shadow: none;
    padding: 0;
    padding-bottom: 30px;
}
#ib-modal-wrapper .ib-modal{
    &__wrapper{
        width: 100%;
        height: auto;
        min-height: 100%;
    }
    &__header {
        &-wrapper{
            @include flex(row, center, flex-start);
            padding: 15px 0;
            border-bottom: 1px solid $gray-color-lighter;
        }
    }
    &__close {
        width: 22px;
        height: 23px;
        margin-left: auto;
        &:hover {
            & line {
                stroke: $primary-color;
            }
        }
    }
    &__copyright {
        margin-top: 60px;
    }
    &__footer {
        margin-top: 120px;
    }
    &__btn{
        width: 180px;
    }
    &__breadcrumbs {
        padding-top: 30px;
        min-height: 82px;
        &_visibility{
            &-hidden{
                display: none;
            }
        }
        & .swiper-wrapper{
            align-items: flex-end;
            justify-content: center;
        }
        &_layout{
            &-custom{
                min-height: 45px;
            }
        }
        &-btn {
            @include flex(column, center, flex-end);
            color: $black-color;
            font-size: 12px;
            @include font-weight('semi');
            margin-right: 30px;
            position: relative;
            text-transform: uppercase;
            max-width: 130px;
            width: auto;
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 20px;
                background: $primary-color;
                bottom: 17px;
                left: calc(100% + 14px);
            }
            &:last-child {
                margin-right: 0;

                &::after {
                    content: none;
                }
            }
            & span {
                display: block;
                font-size: 15px;
                color: $primary-color;
                text-align: center;
                margin-bottom: 5px;
            }
            &:hover {
                & span{
                    text-decoration: underline;
                }
            }
            &_hidden{
                display: none;
            }
        }
    }
}

//Media
@media screen and (max-width: 1219px){
    #ib-modal-wrapper .ib-modal{
        &__breadcrumbs{
            min-height: 0;
        }
    }
}
@media screen and (max-width: 767px){
    #ib-modal-wrapper .ib-modal{
        &__footer{
            margin-top: 50px;
        }
        &__breadcrumbs{
            &-btn{
                font-size: 10px;
                & span{
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (max-width: 575px){
    #ib-modal-wrapper .ib-modal{
        &__close{
            max-width: 20px;
            max-height: 20px;
            & svg{
                max-width: 20px;
                max-height: 20px;
            }
        }
    }
}
// @media screen and (min-width: 992px){
//     #ib-modal-wrapper .ib-modal{
//         &__breadcrumbs{
//             & .swiper-wrapper{
//                 justify-content: center;
//             }
//         }
//     }
// }