#ib-modal .ib-pagination{
    @include flex(row, center, center);
    &_visibility{
        &-hidden{
            display: none;
        }
    }
    &__item{
        @include flex(row, center, center);
        margin-right: 5px;
        &:last-child{
            margin-right: 0;
        }
        &:first-child{
            & .ib-pagination{
                &__circle{
                    & svg{
                        &:first-child{
                            display: none;
                        }
                    }
                    &_icon-completed{
                        & svg{
                            display: none;
                            &:first-child{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        &_active{
            margin-right: 0;
            & .ib-pagination{
                &__circle{
                    border-color: $primary-color;
                    &::after{
                        background: $primary-color;
                    }
                    & svg{
                        & path{
                            fill: $white-color;
                        }
                    }
                }
                &__line{
                    @include flex(row, center, center);
                    background: $primary-color;
                }
            }
        }
        &_opened{
            margin-right: 0;
            & .ib-pagination{
                &__line{
                    @include flex(row, center, center);
                }
                &__col{
                    &-name{
                        opacity: 1;
                    }
                    &-step{
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__circle{
        @include flex(row, center, center);
        width: 42px;
        height: 42px;
        border: 1px solid $black-color;
        border-radius: 50%;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: $gray-color-lightest;
            top: 50%;
            left: 50%;
            margin-top: -16px;
            margin-left: -16px;
        }
        & svg{
            position: relative;
            z-index: 1;
            flex-shrink: 0;
        }
    }
    &__line{
        display: none;
        width: 95px;
        height: 1px;
        background: $black-color;
        line-height: 1.15;
        &_style{
            &-custom{
                width: 375px;
            }
            &-dots-no{
                & .ib-pagination{
                    &__dot{
                        display: none;
                    }
                }
            }
        }
    }
    &__col{
        position: relative;
        &-name{
            opacity: 0;
            position: absolute;
            margin: 0;
            font-size: 17px;
            line-height: 1.2;
            text-align: center;
            width: 125px;
            bottom: calc(100% + 10px);
            left: 50%;
            margin-left: -62.5px;
        }
        &-step{
            opacity: 0;
            position: absolute;
            margin: 0;
            font-size: 15px;
            letter-spacing: -0.01em;
            color: $gray-color;
            top: calc(100% + 10px);
            left: 0;
            width: 100%;
            text-align: center;
        }
    }
    &__dot{
        width: calc(100% / 7);
        margin: 0;
        font-size: 10px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: $primary-color;
        position: relative;
        text-align: center;
        top: 21.5px;
        z-index: 1;
        &::before{
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border: 1px solid $primary-color;
            background: $white-color;
            border-radius: 50%;
            bottom: calc(100% + 10px);
            left: 50%;
            margin-left: -6px;
        }
        &_active{
            &::before{
                background: $primary-color;
            }
        }
    }
}

//Media
@media screen and (max-width: 1219px){
    #ib-modal .ib-pagination{
        &__col{
            &-step{
                opacity: 1;
                font-size: 13px;
            }
        }
    }
}
@media screen and (max-width: 767px){
    #ib-modal .ib-pagination{
        &__col{
            &-name{
                display: none;
            }
        }
        &__dot{
            display: none;
        }
        &__line{
            width: 30px;
        }
    }
}
@media screen and (max-width: 575px){
    #ib-modal .ib-pagination{
        &__line{
            width: 25px;
        }
    }
}