#ib-wrapper .ib-choice-radio, #ib-modal .ib-choice-radio{
    display: block;
    position: relative;
    width: 170px;
    height: 170px;
    cursor: pointer;
    &__input{
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        &:checked{
            & + .ib-choice-radio{
                &__name{
                    box-shadow: 0 4px 20px 0 rgba(196, 196, 196, .5);
                    background: $white-color;
                    border-color: $primary-color;
                }
            }
        }
    }
    &__name{
        @include flex(column, center, flex-end);
        margin: 0;
        padding: 20px 25px;
        width: 100%;
        height: 100%;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        background: $gray-color-lightest;
        border-radius: 3px;
        border: 1px solid transparent;
        &:hover{
            border-color: $primary-color;
        }
    }
    &__icon{
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

//Media
@media screen and (max-width: 575px){
    #ib-wrapper .ib-choice-radio, #ib-modal .ib-choice-radio{
        &__name{
            padding: 10px 15px;
        }    
    }
}