#ib-wrapper, #ib-modal{
    box-sizing: border-box;
    @include font();
    @include font-weight('normal');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    & *, *::before, *::after {
        box-sizing: border-box;
        line-height: 1.15;
        @include font();
        @include font-weight('normal');
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    p {
        font-size: $base-font-size;
        color: $black-color;
    }
    b, strong {
        @include font-weight('bold');
    }
    button {
        @include font();
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 0;
        margin: 0;
        outline-style: none;
        outline-color: transparent;
        box-shadow: none;
        border-radius: 0;
        &:active{
            color: $black-color;
        }
    }
    select {
        @extend button;
    }
    input {
        @extend button;
        cursor: text;
        padding: 0 15px;
        font-size: 16px;
        letter-spacing: 0;
        @include font-weight('normal');
        color: $black-color;
        transform: none;
        transition: none;
        &::-webkit-input-placeholder {
            font-size: 16px;
            @include font-weight('normal');
            letter-spacing: 0;
        }
        &::-moz-placeholder {
            font-size: 16px;
            opacity: 1;
            @include font-weight('normal');
            letter-spacing: 0;
        }
        &:-moz-placeholder {
            font-size: 16px;
            opacity: 1;
            @include font-weight('normal');
            letter-spacing: 0;
        }
        &:-ms-input-placeholder {
            font-size: 16px;
            @include font-weight('normal');
            letter-spacing: 0;
        }
        &:focus::-webkit-input-placeholder {
            color: transparent;
        }
        &:focus::-moz-placeholder {
            color: transparent;
        }
        &:focus:-moz-placeholder {
            color: transparent;
        }
        &:focus::-ms-input-placeholder {
            color: transparent;
        }
    }
    textarea {
        @extend button;
        cursor: text;
        font-size: 16px;
        resize: none;
        &::-webkit-input-placeholder {
            font-size: 16px;
        }
        &::-moz-placeholder {
            font-size: 16px;
            opacity: 1;
        }
        &:-moz-placeholder {
            font-size: 16px;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            font-size: 16px;
        }
        &:focus::-webkit-input-placeholder {
            color: transparent;
        }
        &:focus::-moz-placeholder {
            color: transparent;
        }
        &:focus:-moz-placeholder {
            color: transparent;
        }
        &:focus::-ms-input-placeholder {
            color: transparent;
        }
    }
    img {
        display: block;
        max-width: 100%;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
}
#ib-wrapper{
    a {
        display: inline-block;
        color: $black-color;
    }
}