#ib-wrapper .ib-header, #ib-modal .ib-header{
    &__title{
        margin: 0;
        text-align: center;
        font-size: 48px;
        @include font-weight('normal');
        color: $black-color;
    }
    &__desc{
        margin: 0;
        font-size: 20px;
        line-height: 1.32;
        text-align: center;
        margin-top: 15px;
        color: $black-color;
        & span{
            color: $primary-color;
        }
    }
    &__logo{
        max-width: 200px;
    }
}

//Media
@media screen and (max-width: 1219px){
    #ib-wrapper .ib-header, #ib-modal .ib-header{
        padding: 50px 0;
        &__title{
            font-size: 40px;
        }
        &__desc{
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 767px){
    #ib-wrapper .ib-header, #ib-modal .ib-header{
        padding: 30px 0;
        &__title{
            font-size: 35px;
        }
    }
}
@media screen and (max-width: 575px){
    #ib-wrapper .ib-header, #ib-modal .ib-header{
        padding: 15px 0;
        &__title{
            font-size: 30px;
        }
        &__desc{
            font-size: 15px;
        }
        &__logo{
            max-width: 100px;
        }
    }
}