#ib-modal .ib-checkbox{
    margin: 0;
    @include flex(row, flex-start, flex-start);
    position: relative;
    cursor: pointer;
    &__text{
        margin: 0;
        padding-left: 35px;
        position: relative;
        font-size: 15px;
        line-height: 1.3;
        &::before{
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border: 1px solid $light-color;
            top: 0;
            left: 0;
        }
        &::after{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: $primary-color;
            top: 4px;
            left: 4px;
            opacity: 0;
        }
        & a{
            color: $primary-color;
        }
    }
    &__input{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .ib-checkbox{
            &__text{
                &::after{
                    opacity: 1;
                }
            }
        }
    }
}

//Media
@media screen and (max-width:575px){
    #ib-wrapper .ib-checkbox, #ib-modal .ib-checkbox{
        &__text{
            font-size: 13px;
        }
    }
}