#ib-wrapper .ib-footer, #ib-modal .ib-footer{
    &__copyright{
        margin-top: 80px;
    }
    &__steps{
        margin-top: 90px;
    }
}

//Media
@media screen and (max-width: 1219px){
    #ib-wrapper .ib-footer, #ib-modal .ib-footer{
        padding-bottom: 50px; 
    }
}
@media screen and (max-width: 767px){
    #ib-wrapper .ib-footer, #ib-modal .ib-footer{
        padding-bottom: 30px;  
    }
}
@media screen and (max-width: 575px){
    #ib-wrapper .ib-footer, #ib-modal .ib-footer{
        &__copyright{
            margin-top: 50px;
        }  
    }
}