#ib-wrapper .ib-form, #ib-modal .ib-form{
    padding: 35px 0;
    padding-bottom: 50px;
    box-shadow: 0 4px 10px 0 rgba(196, 196, 196, .5);
    background: $white-color;
    border-radius: 3px;
    &__title{
        margin: 0;
        font-size: 20px;
        @include font-weight('semi');
        margin-bottom: 25px;
    }
    &__info{
        padding-left: 15px;
        &-section{
            @include flex(column, flex-start, flex-start);
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &-name{
            margin: 0;
            font-size: 17px;
            margin-bottom: 5px;
        }
        &-text{
            font-size: 20px;
            margin: 0;
            color: $primary-color;
        }
        &-link{
            text-decoration: none;
            border-bottom: 1px solid transparent;
            &:hover{
                border-bottom-color: $primary-color;
            }
        }
    }
    &__grid{
        padding: 0 30px;
        border-right: 1px solid $gray-color-lighter;
    }
    &__reviews{
        margin-top: 50px;
        margin-left: 15px;
    }
    &__group{
        @include flex(row, flex-start, flex-start);
    }
    &__col{
        width: calc((100% - 20px)/2);
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__label{
        margin: 0;
        font-size: 13px;
        letter-spacing: -.01em;
        & span{
            color: $primary-color;
            margin-left: 5px;
        }
    }
    &__input{
        margin-top: 5px;
        border: 1px solid $light-color;
        width: 100%;
        height: 35px;
        & input{
            width: 100%;
            height: 100%;
        }
    }
    &__row{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__btn{
        margin-top: 30px;
        width: 180px;
        background: $primary-color;
        color: $white-color;
        &:disabled{
            pointer-events: none;
            opacity: .3;
        }
        &:hover{
            background: darken($primary-color, 5%);
        }
        &:active{
            background: darken($primary-color, 10%);
        }
    }
    &__product{
        position: absolute;
        width: 350px;
        right: 0;
        top: 0;
    }
}

//Media
@media screen and (max-width: 1219px){
    #ib-wrapper .ib-form, #ib-modal .ib-form{
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        &__product{
            position: relative;
            width: 100%;
            top: auto;
            right: auto;
        }
        &__grid{
            padding: 40px 0;
            border-right: none;
        }
        &__info{
            padding-left: 0;
            padding-top: 40px;
        }
    }
}
@media screen and (max-width: 991px){
    #ib-wrapper .ib-form, #ib-modal .ib-form{
        &__info{
            padding-top: 0;
        }
    }
}
@media screen and (max-width: 575px){
    #ib-wrapper .ib-form, #ib-modal .ib-form{
        &__grid{
            padding: 25px 0;
        }
        &__btn{
            margin: 0 auto;
            margin-top: 30px;
        }
        &__info{
            &-section{
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            &-name{
                font-size: 16px;
            }
            &-text{
                font-size: 15px;
            }
        }
    }
}