#ib-modal .ib-range-slider{
    &__layout{
        height: 1px;
        width: 100%;
        background: $primary-color;
        margin: 20px 0;
        & .ui-slider-handle{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $white-color;
            border: 1px solid $primary-color;
            top: -.6em;
            cursor: pointer;
        }
    }
    &__name{
        margin: 0;
        font-size: 32px;
        @include font-weight('semi');
        color: $primary-color;
        text-align: center;
        letter-spacing: -0.01em;
    }
    &__note{
        letter-spacing: -0.01em;
        margin: 0 auto;
        font-size: 15px;
        text-align: center;
        color: $gray-color;
        max-width: 220px;
    }
}