#ib-modal .ib-selected-product{
    background: $white-color;
    box-shadow: 0 4px 10px rgba(196, 196, 196, .5);
    border: 1px solid $primary-color;
    border-radius: 3px;
    padding: 20px 35px;
    @include flex(column, center, flex-start);
    &__title{
        margin: 0;
        font-size: 24px;
        @include font-weight('semi');
        text-align: center;
        margin-top: 20px;
        padding: 0 30px;
        line-height: 1.2;
    }
    &__note{
        margin: 0;
        text-align: center;
        color: $gray-color;
        letter-spacing: -0.01em;
        font-size: 15px;
        margin-top: 5px;
    }
    &__price{
        @include flex(row, flex-end, center);
        margin: 0;
        line-height: 1;
        margin-top: 15px;
        & svg{
            position: relative;
            top: -11px;
            margin-right: 10px;
        }
        &-value{
            font-size: 60px;
            letter-spacing: -.01em;
            @include font-weight('semi');
        }
        &-period{
            font-size: 14px;
            @include font-weight('semi');
            letter-spacing: -.01em;
            position: relative;
            top: -25px;
            margin-left: 10px;
        }
    }
}

//Media
@media screen and (max-width: 575px){
    #ib-modal .ib-selected-product{
        padding: 20px 10px;
        &__title{
            font-size: 20px;
        }
        &__price{
            &-value{
                font-size: 40px;
            }
            & svg{
                top: -7px;
            }
            &-period{
                top: -10px;
            }
        }
        &__note{
            font-size: 13px;
        }
    }
}